<h2>ADMIN INDEX PAGE</h2>
<h4>You currently have <%=@projects.count%> projects </h4>
<%= @projects.each do |p| %>
	<p><%= p.title %></p>
	<p><%= p.summary %></p>
	<p><%= p.link %></p>
	<p><%= p.image %></p>
	<p><%= p.category %></p>
	<hr>
<% end %>
