<div class="container text-center">
	<h1>Projects go here</h1>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<%= image_tag("project-robot-pic", :alt => "project", :class => "img-thumbnail") %>
			<h4 class="text-center"> Project 1 </h4>
		</div>
		<div class="col-md-4">
			<%= image_tag("project-robot-pic", :alt => "project", :class => "img-thumbnail") %>
			<h4 class="text-center"> Project 1 </h4>
		</div>
		<div class="col-md-4">
			<%= image_tag("project-robot-pic", :alt => "project", :class => "img-thumbnail") %>
			<h4 class="text-center"> Project 1 </h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<%= image_tag("project-robot-pic", :alt => "project", :class => "img-thumbnail") %>
			<h4 class="text-center"> Project 1 </h4>
		</div>
		<div class="col-md-4">
			<%= image_tag("project-robot-pic", :alt => "project", :class => "img-thumbnail") %>
			<h4 class="text-center"> Project 1 </h4>
		</div>
		<div class="col-md-4">
			<%= image_tag("project-robot-pic", :alt => "project", :class => "img-thumbnail") %>
			<h4 class="text-center"> Project 1 </h4>
		</div>
	</div>
	
</div>
