<h2>New Project Created!</h2>
<br>
<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
 
<p>
  <strong>Summary:</strong>
  <%= @project.summary %>
</p>

<p>
	<strong>Link:</strong>
	<%= @project.link %>
</p>

<p>
	<strong>Image:</strong>
	<%= @project.image %>
</p>
<p>
	<strong>Admin ID:</strong>
	<%= @project.adminID %>
</p>
<p>
	<strong>Questions:</strong>
	<%= @project.question1 %><br>
	<%= @project.question2 %><br>
	<%= @project.question3 %><br>
</p>
<p>
	<strong>Skills:</strong>
	<%= @project.skills %><br>
</p>
<p>
	<strong>Courses:</strong>
	<%= @project.courses %><br>
</p>
