<h3>New Student Application</h3>
<h4><%= @project.title %></h4>
<h4><%= @project.summary %></h4>
<%= simple_form_for [@project, @student_application] do |f| %>
	
	<%= @question1 %><br>
	<input type="text" name="answers[]" /><br>
	<%= @question2 %><br>
	<input type="text" name="answers[]" /><br>
	<%= @question3 %><br>
	<input type="text" name="answers[]" /><br>
	<p>Skills (Rate 1 for beginner, 2 for intermediate, 3 for expert)</p>
	<% @skills.each do |s| %>
		<%= s %>
		<input type="radio" value="1" />
		<label>1</label>
		<input type="radio" value="2" />
		<label>2</label>
		<input type="radio" value="3" />
		<label>3</label>
		<br>
	<% end %>
	<p>Courses (Indicate if you've taken these classes)</p>
	<% @courses.each do |c| %>
		<%= c %>
		<input type="radio" />
		<br>
	<% end %>
	<%= f.hidden_field :user_id, value: current_user.id %>
	<%= f.submit do |s| %>
		<p>Submit Application</p>
	<% end %>

<% end %>